input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"],
textarea {
    border: 1px solid $lightGrey;
    border-radius: 0;
    line-height: 20px;
    padding: 10px;
    -webkit-appearance: none;

    &:focus {
        outline: none;
    }
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

select {
    max-width: 100%;
}

textarea {
    vertical-align: middle;
}

form {
    span.required {
        color: red;
    }
}

input.submit {
    @extend %button;
}
