input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"],
textarea {
    border: 1px solid $lightGrey;
    border-radius: 0;
    line-height: 20px;
    padding: 8px;
    -webkit-appearance: none;

    &:focus {
        outline: none;
    }
}

select {
    max-width: 100%;
}

textarea {
    vertical-align: middle;
}

form {
    span.required {
        color: red;
    }
}

input.submit {
    @extend %button;
}
